body {
    font-family: 'Montserrat', sans-serif;
}

#home {
    height: 100vh;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
        ),
        url("https://images.unsplash.com/photo-1544919982-b61976f0ba43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80");
        
    background-repeat: no-repeat;
    background-position: center;
}

#header {
    background-color: #0e395c;
}

.navbar-brand {
    letter-spacing: 5px;
}
.text-warning {
    color: #0e395c !important;
}

.bg-warning {
    background-color: #0e395c !important;
}

.border-warning {
    border-color: #0e395c !important;
}

#score-card {
    transition: transform 0.2s;
}

#score-card:hover {
    transform: scale(1.05);
}
footer {
    margin-top: 10px;
}

#standing, #schedule, #scores, #players, #stats {
    height: 100vh;
}

#stats {
    font-size: 18px;
}
h1 {
    font-size: 100px;
    letter-spacing: 5px;
}

h2 {
    margin-top: -100px;
    font-size: 50px;
}
#signup {
    color: white;
    letter-spacing: 5px;
}

#signup:hover {
    background: white;
    color: orange;
}

#signup:focus {
    box-shadow: none;
}

#details {
    font-size: 11px;
}

.nav-link.active {
    background-color: #0e395c;
    color: #ffffff !important;

}

.nav-link:hover {
    background-color: #0e395c;
    color: #ffffff !important;
    transition: background-color 0.2s ease-out;
}

.table thead th, .table td, .table th {
    border: none;
}

.badge-warning {
    background-color: #0e395c;
    color: white;
}

#scorelogo {
    margin-left: -12px;
}

#back {
    background-color: #0e395c;
    color: white;

}

#right:hover {
    transform: translateX(25%);
    background: none;
}

#left:hover {
    transform: translateX(-25%);
    background: none;
}

.page-link.text-dark:focus {
    box-shadow: none;
}

#signlogo {
    margin-left: -16px;
}

#signpic {
    margin-left: -100px;
}

#sign {
    margin-left: -10px;
}

#signbtn {
    background-color: #fad778;
    border-color: #fad778;
}

[type=button]:focus {
    box-shadow: none;
}

[type=button]:hover {
    color: #0e395c;
}

.btn:focus {
    box-shadow: none;
}

.form-control {
    border: 0;
    border-bottom: 1px solid;
    padding: 0;
}

.custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    border-color: #fad778;
    background-color: #fad778;
}

#btn, #facebook {
    background-color: #0e395c;
    color: #ffffff;
}

#btn:focus {
    box-shadow: none;
}

.progress {
    height: 20px;
}

#stats {
    font-size: 20px;
}

.progress {
    height: 15px;
}

.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

hr {
    height: 1.2px;
}

.border-dark {
    border-color: #FFD700 !important;
}

#playercard {
    perspective: 1000px;
} 

#playercard:hover .card {
    transform: rotateY(180deg);
}

.card {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card-front, .card-back {
    backface-visibility: hidden;
   
}

.card-front {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
}

.card-back {
    background: white;
    transform: rotateY(180deg);
}

.page-item.active .page-link {
    background-color: #0e395c !important;
    color: #ffffff !important;

}

@media screen and (max-width: 600px) {
    .navbar-brand {
        letter-spacing: 1px;
    }

    h3 {
        font-size: 20px;
    }

    #text {
        font-size: 10px;
    }
}
